<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/_home_layout"
>
<body>
	<div class="container">
		<div layout:fragment="wrap">
			<div class="jumbotron">
				<h1>Agreement</h1>
				<p>This example is a quick exercise to illustrate how the default,
					static navbar and fixed to top navbar work. It includes the responsive CSS
					and HTML, so it also adapts to your viewport and device.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="../../components/#navbar"
						role="button"
					>View navbar docs &raquo;</a>
				</p>
	            <a class="btn btn-lg btn-primary" href="/new_account/input_account" role="button">同意 &raquo;</a>
			</div>
		</div>
	</div>
</body>
</html>