<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/_home_layout"
>
<body>
	<div class="container">
		<div layout:fragment="wrap">
			<!-- Account Edit  -->
			<h2>Input Your Account</h2>
			<form th:action="@{/new_account/send_mail}" method="post" th:object="${form}">
				<div class="form-group">
					<table>
						<tr>
							<td>Name</td>
							<td><input type="text" th:field="*{name}"
									th:errorclass="error-field"
								/></td>
							<td><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
									name is not null </span></td>
						</tr>
						<tr>
							<td>Password</td>
							<td><input type="password" th:field="*{password}"
									th:errorclass="error-field"
								/></td>
							<td><span th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"
								> password is not null </span></td>
						</tr>
					</table>
				</div>
				<button type="submit" id="btn-submit" class="btn btn-primary btn-block">Create</button>
			</form>
		</div>
	</div>
</body>
</html>