<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/_home_layout"
>
<body>
	<div class="container">
		<div layout:fragment="wrap">
			<!-- Account Edit  -->
			<h2>Input Your Account</h2>
			<form th:action="@{/new_account/send_mail}" method="post" th:object="${form}">
				<label class="sr-only">Name</label>
				<input class="form-control" type="text" th:field="*{name}"
					th:errorclass="error-field" placeholder="Email address"
				/>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name
					is not null</span>

                <p/>
				<label class="sr-only">Password</label>
				<input class="form-control" type="password" th:field="*{password}"
					th:errorclass="error-field" placeholder="Password"
				/>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
					password is not null </span>
                <p/>

				<button type="submit" id="btn-submit" class="btn btn-primary btn-block">Create</button>
			</form>
		</div>
	</div>
</body>
</html>